<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title th:text="'Edit project - ' + ${project.name}"></title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<h2 th:text="'Edit project - ' + ${project.name}"></h2>
			<form th:action="@{/projects/{id}(id=${project.id})}" th:object="${project}" method="post">
				<div class="mb-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" th:field="*{name}" id="name" placeholder="Enter project name" class="form-control" />
					<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text" />
				</div>
				<input type="hidden" th:field="*{id}" id="id" />
				<input type="submit" value="Save" class="btn btn-primary" />
			</form>
		</div>
	</body>
</html>
