<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title th:text="'Project - ' + ${project.name}"></title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<h2 th:text="'Project - ' + ${project.name} + ' (' + ${project.progress} + ' %)'"></h2>
			<div class="row">
				<div class="col-6">
					<a th:href="@{/projects}" class="btn btn-secondary">Back</a>
					<a sec:authorize="hasAnyAuthority('MANAGER')" th:href="@{/projects/{id}/tasks/new(id=${project.id})}" class="btn btn-primary">New task</a>
				</div>
			</div>
			<table th:unless="${#lists.isEmpty(project.tasks)}" class="table table-striped text-center">
				<thead>
					<tr>
						<th>Id</th>
						<th class="w-75">Name</th>
						<th></th>
						<th sec:authorize="hasAnyAuthority('MANAGER')"></th>
						<th sec:authorize="hasAnyAuthority('MANAGER')"></th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="task : ${project.tasks}" th:class="${task.isCompleted ? 'table-success' : ''}">
						<td th:text="${task.id}"></td>
						<td th:text="${task.name}" class="text-start"></td>
						<td>
							<a th:href="@{/projects/{id}/tasks/{taskId}(id=${project.id}, taskId=${task.id})}" class="btn btn-secondary">Log work</a>
						</td>
						<td sec:authorize="hasAnyAuthority('MANAGER')">
							<a th:href="@{/projects/{id}/tasks/{taskId}/edit(id=${project.id}, taskId=${task.id})}" class="btn btn-warning">Edit</a>
						</td>
						<td sec:authorize="hasAnyAuthority('MANAGER')">
							<a th:href="@{/projects/{id}/tasks/{taskId}/delete(id=${project.id}, taskId=${task.id})}" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
