<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title th:text="${task.name}"></title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<a th:href="@{/projects/{id}(id=${task.projectId})}" class="btn btn-secondary mb-3">Back</a>
			<h2 th:text="'Task - ' + ${task.name}"></h2>
			<h5 th:text="'MD - ' + ${task.md}"></h5>
			<h5 th:text="'Is complete - ' + ${task.isCompleted}"></h5>
			<form
				th:action="@{/projects/{id}/tasks/{taskId}/log-work(id=${task.projectId}, taskId=${task.id})}"
				th:object="${task}"
				method="post"
				class="mt-2"
				onsubmit="validateForm();"
			>
				<div class="mb-3">
					<label for="beginDate" class="form-label">Begin date:</label>
					<input th:field="*{beginAt}" id="beginDate" type="datetime-local" class="form-control" />
					<div th:if="${#fields.hasErrors('beginAt')}" th:errors="*{beginAt}" class="form-text" />
				</div>
				<div class="mb-3">
					<label for="finishDate" class="form-label">Finish date:</label>
					<input th:field="*{finishAt}" id="finishDate" type="datetime-local" class="form-control" />
					<div th:if="${#fields.hasErrors('finishAt')}" th:errors="*{finishAt}" class="form-text" />
				</div>
				<div class="mb-3">
					<label for="detail" class="form-label">Detail</label>
					<textarea th:field="*{detail}" class="form-control" rows="3"></textarea>
					<div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" class="form-text" />
				</div>
				<input type="hidden" th:field="*{name}" th:value="${task.name}" id="name" />
				<input type="submit" value="Log work" class="btn btn-primary" />
			</form>
		</div>
		<script>
			function validateForm() {
				const beginAt = document.getElementById("beginDate").value;
				const finishAt = document.getElementById("finishDate").value;

				if (beginAt && finishAt) {
					if (new Date(beginAt).getTime() >= new Date(finishAt).getTime()) {
						alert("Begin date จะต้องเกิดขึ้นหลัง Finish date เท่านั้น");
						event.preventDefault();
					}
				}
			}
		</script>
	</body>
</html>
