<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title th:text="${task.name}"></title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<h2 th:text="'Task - ' + ${task.name}"></h2>
			<a th:href="@{/projects/{id}(id=${project.id})}" th:text="'Back to ' + ${project.name} " class="btn btn-secondary"></a>
			<form th:action="@{/projects/{id}/tasks/{taskId}(id=${task.projectId}, taskId=${task.id})}" th:object="${task}" method="post" class="mt-2">
				<div class="mb-3">
					<label for="beginDate">Begin date:</label>
					<input id="beginDate" type="datetime-local" class="form-control" placeholder="Begin date" />
				</div>
				<div class="mb-3">
					<label for="finish">Finish date:</label>
					<input id="finish" type="datetime-local" class="form-control" placeholder="Finish date" />
				</div>
			</form>
		</div>
	</body>
</html>
